header,
nav,
main {
  padding: 0%;
  margin: 0%;
}

nav{
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 0%;
  padding-bottom: 30px;
  font-size: 20px;
  padding-top:0%;
  margin: 0%;
}
/* header {
  display:flex;
  justify-content: center;
  align-items: flex-start;
} */

html, body {
  height: 100%;
  margin: 0%;
  line-height: 1.6;
}


body {
  padding-left: 10%;
  padding-top: 5%;
  margin: 0%;
  /*border: 3px dashed white  ---indicates width of border;*/
  width:1280px;
  height: 800px;
  color:#2e2930;
  background: #f8ead0; /*this is like a slightly darker papayawhip/ beige */
  background-image: url('../pictures/leaves-background.gif');
    /* background-image: linear-gradient(to right, rgba(500,700,0,0.5), rgba(0,0,255,0.5)), --this code is to make the gradient rainbow effect*/
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding-top: 30px;
}


.logo {
  height: 20%;
  width: 20%;
  /* display: flex; */
  /* position: sticky; */
  /* align-items: flex-start; */
  /* justify-content: center; */
  padding-left: 43%;
  padding-top: 0%;
  padding-bottom: 30px;
  margin:0%;
  /* overflow: hidden; */
}

.profilePic {
  float:left;
  /* resize: block; */
  max-height: 550px;
  width: 400px;
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 5%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.spinningLogo {
  float:left;
  /* resize: block; */
  max-height: 40%;
  width: 40%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 0%;
  position: sticky;
}
/* The code below is for when the poke pic goes live on the about page */
.pokePic {
  float:left;
  /* resize: block; */
  max-height: 30%;
  width: 30%;
  padding-left: 10%;
  padding-right: 5%;
  padding-bottom: 5%;
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */
}

.pokePicDiv {
 padding:0px;
 width:100%;
 position:sticky; top:0; left:0;
 float:left; /*tryng this out*/
 z-index: 7;
}

.chatPng {
  height: 30%;
  Width: 30%;
  float: left;
  padding-top: 0px;
  padding-left: 15%;
}

/* .flexslider {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
} */

h1 {
  margin:0;
  color:#2e2930; /*a black-like shade */; font-size:40px;
}
h2 {
  margin:0;
  color:#2e2930; /*a black-like shade */; font-size:20px;
}

p {
  color: #2e2930; /*a black-like shade*/
}

.textArea {
  padding-left: 10%;
}
/* div.textArea {
  border: 1px #2e2930;
  z-index: 4;
}
trying to make a box around text */

/* for link hover effect */
a {
  color: #f8897e;
  text-decoration: none;
  background:
     linear-gradient(
       to bottom, var(--mainColor) 0%,
       var(--mainColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size .2s;
}
:root {
  --mainColor: #f8897e;
}

a:hover {
  background-size: 4px 50px;
  /* text-decoration: underline; */
}

/* for contact form */
form {
  width: 400px;
  padding-left: 57%;
}

input,
textarea {
  border: 1px solid #2e2930;
  width: 400px;
  margin-bottom: 10px;
}

input {
  height: 20px;
}

textarea {
  height: 100px;
}

button {
  background: #f8897e;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
}

/* FOOTER STYLES
-----------------------------------------*/
/* Sticky Footer - http://css-tricks.com/snippets/css/sticky-footer */
  .page-wrap {
  min-height: 100%;
  margin-bottom: -60%; /* must be the same height as footer */
}
.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 60px; /* however tall you want the footer to be */
}

/*footer fade in effect when hovered over */
footer {
  width: 100%
  height: 60px;
  clear: both;
  position: fixed;
  bottom: 0;
  text-align: right;
  padding-left: 30%;
  opacity: 0;
   transition: opacity 1s ease-in-out;
   -moz-transition: opacity 0.25s ease-in-out;
   -webkit-transition: opacity 0.25s ease-in-out;
}

footer:hover{
  opacity: 1;
}

/*css for specific bodies of text*/
.introBio {
  padding-left: 46.5%;
}
.quotesInBio {
  padding-left: 46.7%;
}
.educationBio {
  padding-top: 30px;
  padding-left:46.5%;
}
.techBio {
  padding-top: 30px;
  padding-left: 46.5%
}
.personalBio {
  padding-top:30px;
  padding-left: 46.5%;
}
.homepageText {
  padding-top: 10%;
  padding-bottom: 20%;
}
.contactTitle {
  padding-left: 57%
}

.aboutMeSection {
  padding-bottom: 20%;
}

/*hover over icons*/

.iconImg {
  opacity:60%;
  padding-right:0px;
  padding-top: 10px;
}

.iconImg:hover {
  opacity:100%;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  background-color: #f8897e;
}

/* styling stuff */
html {
  scroll-behavior: smooth;
}
